.first-section {
  background-image: url("../img/1st back.png");
  position: relative;
  height: 900px;
  width: 1600px;
}
.company-name{
  position: absolute;
  margin-top: 531px;
  margin-left: 215px;
  color: #FFFFFF;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.templates{
  display: inline-block;
  width: 350px;
  height: 16px;
  margin-top: 582px;
  margin-left: 215px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.slogan{
  position: absolute;
  margin-top: 48px;
  margin-left: 216px;
  height: 129px;
  width: 831px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 1px solid #fff;
}
.slogan-yellow{
  display: inline-block;
  width: 96px;
  height: 38px;
  color: #F1AD1D;
  font-size: 54px;
  margin-top: 49px;
  margin-left: 54px;
}
.slogan-white{
  display: inline-block;
  width: 611px;
  height:40px;
  color: #fff;
  font-size: 54px;
}
.about-company{
  background-image: url("../img/bckg2.png");
  width: 1600px;
  height: 900px;
}
.us{
  padding-top: 72px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
}
.we-do{
  padding-top: 35px;
  font-family: 'Lato', sans-serif;
  font-size: 17pt;
  text-align: center;
  color: rgba(77, 73, 67, 255);
}
